.DS_Store
examples/**/fort.*
src/.cproject
src/.project
src/tags
src/*.o
src/**/*.o
src/*.mod
*.mod

.cproject
.project

src/ImpactZexe
src/ImpactZ.exe
.settings
utilities/**/*.pyc

utilities/MatlabTools/**/*.asv
._*
*.100?

csns_linac.impz 
rcs.impz
